/* Portfolio Site Style Production Sheet */

/* Site colors

background (SeaShell): #FFF5EE
backround grid items (lightblue): #ADD8E6
button: #B5CE6F
button secondary : #EDC655;
button secondary font: #2b2b2b;
button tertiary: #ffd924
visited link: #FF3D07
active link: #48799C

 */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff5ee;
  color: inherit;
  font-family: 'Rajdhani', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  padding: 10px;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: #0761e8;
  background-color: #fff5ee;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #357b70;
}

a:visited {
  /* visited link */
  color: #ff3d07;
}

a:hover,
a:focus {
  text-decoration: none; /* No underlining when hovering over a link */
  font-style: italic; /* Italic style when hovering over a link */
  opacity: 0.7; /* reduces the opacity when hovering over a link to 70% */
}

a:active {
  color: #357b70; /* selected link #48799c */
}

.button,
button {
  /* overwrites browser defaults */
  border: none;
  display: inline-block;
  font-family: inherit;/* takes the font from the outer container */
  background-color: #b5ce6f;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 100px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.button__secondary {
  background-color: #edc655;
  color: #2b2b2b;
}

.button__tertiary {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: white;
  background: #ffd924;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd924), color-stop(15%, #fed420), color-stop(25%, #ffcc1e), color-stop(37%, #fcc219), color-stop(40%, #ffbe18), color-stop(78%, #ff9e07), to(#fe9402));
  background: -o-linear-gradient(top, #ffd924 0%, #fed420 15%, #ffcc1e 25%, #fcc219 37%, #ffbe18 40%, #ff9e07 78%, #fe9402 100%);
  background: linear-gradient(to bottom, #ffd924 0%, #fed420 15%, #ffcc1e 25%, #fcc219 37%, #ffbe18 40%, #ff9e07 78%, #fe9402 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffd924, endColorstr=#fe9402, GradientType=0);
  display: inline-block;
  border: 0 solid #ea8701;
  border-radius: 100px;
  padding: 7px 8px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 2px 6px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  font-weight: 500;
  text-align: center;
  -webkit-transition: 0.4s opacity, 0.5s background-color, 0.4s font-size;
  -o-transition: 0.4s opacity, 0.5s background-color, 0.4s font-size;
  transition: 0.4s opacity, 0.5s background-color, 0.4s font-size;
}

/* .contact-form__button {
  background-color: #e0b354;
  color: #2b2b2b;
}
  */
button:hover,
button:focus {
  cursor: pointer;/* lets the mouse appear as a hand when hovering over the button */
  opacity: 0.8; /* reduces the opacity of the button to 80% */
}

/* Header */

header {
  font-family: 'Rajdhani', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  margin: auto;
  border-bottom: 1px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

/* Navigation section */
.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

/* Profile Section */

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
  padding-bottom: 20px;
}

#logo_Jol {
  width: 200px;
  height: 70px;
  margin: 16px 0;
}

/* About Page */

.about {
  display: block;
  text-align: center;
}

.list_item {
  list-style-type: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

.experience-table {
  margin: 0 auto;
  margin-bottom: 5%;
}

/* Contact Page */
.contact {
  display: block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 43%;
  margin: 0 auto;
}

/* Work Section */

.work {
  display: block;
  text-align: center;
}

/* Grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* Styling CSS grid */
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background: lightblue;
  padding: 10px;
  width: auto;
}

.grid__item:hover {
  background-color: #ff3d07;
  opacity: 80%;
}

.grid__item:last-child {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

/* styles for hometown animation */

.sun {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: color-change;
  animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.cloud-front {
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-name: cloud-move;
  animation-name: cloud-move;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* keyframes hometown animation */
@-webkit-keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

/* Footer */
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

/* SVG Home-town animation */
.city-pic {
  display: flex;
  text-align: left;
}
